@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url("out.jpg");
  background-size: cover;
}
.container{
  max-width: 1000px;
  height: 650px;
  width: 700px;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  position: relative;
  transform:translate(53%,-5%);
}
.container .title{
  font-size: 30px;
  font-weight: 500;
  position: relative;
}

.container .title1{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title2{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.title1{
  margin-bottom: 20px;
  margin-right: 200px;
}

.title2{
  margin-bottom: 20px;
  margin-right: 200px;
}

.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container .title1::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container .title2::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}


.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 
 form .button{
   height: 45px;
   margin: 30px;

 }
 
 form .button input{
   height: 100%;
   width: 15%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  
}

.content .button{ 
  transform:translate(20%,50%);
}

.content .button .boat{
  transform:translate(450%,0%);
}

.content .button .car{
  transform:translate(11%,0%);
}


input[value="Print"]{
    padding-left: 21px;
}
